.advertisementCarousel {
  margin: 2rem 0;
  text-align: center;
}

.advertisementImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: var(--border-radius);
}

@media (max-width: 768px) {
  .advertisementImage {
    height: 200px;
  }
}
